<html>
  <body>
    <div
      style='background-color:#F2F5F7;color:#242424;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
    >
      <table
        align='center'
        width='100%'
        style='margin:0 auto;max-width:600px;background-color:#FFFFFF'
        role='presentation'
        cellspacing='0'
        cellpadding='0'
        border='0'
      >
        <tbody>
          <tr style='width:100%'>
            <td>
              <div style='font-weight:normal;padding:40px 24px 16px 24px'>
                Hi
                {{name}}
                👋,
              </div>
              <div style='font-weight:normal;padding:0px 24px 16px 24px'>
                Thank you for registering with us at our Student Management
                System. We’re excited to have you join our community!
              </div>
              <div style='font-weight:normal;padding:0px 24px 16px 24px'>
                Your registration has been received and is currently pending
                approval from our system administrator. Once your registration
                is approved, you’ll receive another email confirming that your
                account is activated.
              </div>
              <div style='font-weight:normal;padding:16px 24px 16px 24px'>
                In the meantime, if you have any questions or need further
                assistance, please feel free to reach out to us at
                support@studentmanagement.com.
              </div>
              <div style='font-weight:normal;padding:16px 24px 16px 24px'>
                We appreciate your patience and look forward to having you
                onboard soon!
              </div>
              <div style='padding:16px 24px 40px 24px'>
                <img
                  alt='Illustration'
                  src='https://d1iiu589g39o6c.cloudfront.net/live/platforms/platform_A9wwKSL6EV6orh6f/images/wptemplateimage_cAK8FpmBEGoSRNi3/Screenshot%202023-11-22%20at%2011.48.53%20AM.png'
                  style='outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%'
                />
              </div>
              <div style='font-weight:normal;padding:16px 24px 16px 24px'>
                <p>
                  Best regards,<br />Student Management System,<br />Support
                  Team
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>